<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>
<%- messages() %>

<% if ( locals.accountData.account_type == 'Client') { %>
  <h2>Welcome <%= locals.accountData.account_firstname %></h2>
<% } else if ( locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
  <h2>Welcome <%= locals.accountData.account_firstname %></h2>
  <h3>Manage Inventory</h3>
  <p><a href="../inv/management">Add Inventory</a></p>
  <p>Select Classification:</p>
  <select name="classification_id" id="classification" required>
      <% classifications.forEach(classification => { %>
          <option value="<%= classification.classification_id %>">
              <%= classification.classification_name %>
          </option>
      <% }) %>
  </select>
  <table id="inventoryDisplay"></table>
<% } %>
<p><a href='../account/update/<%= locals.accountData.account_id %>'>Edit Account</a></p>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>