<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
<%  }) %>
  </ul>
<% } %>

<h2>Checkout</h2>
<div class="invoice" data-inv-price="<%= locals.inv_price %>" data-tax="<%= locals.tax %>" data-total="<%= locals.total %>">
    <p>Item Price: <span id="item-price"></span></p>
    <p>Tax (18%): <span id="tax"></span></p>
    <hr>
    <p>Total: <span id="total"></span></p>
</div>

<script src="../../js/tax.js"></script>

    <form action="/purchase/<%= locals.inv_id %>" method="POST">
        <h3>Customer Information</h3>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required value="<%= locals.firstName %>">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required value="<%= locals.lastName %>">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required value="<%= locals.email %>">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" required value="<%= locals.phone %>">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" required value="<%= locals.address %>">
        </div>
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" id="city" name="city" required value="<%= locals.city %>">
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <input type="text" id="state" name="state" required value="<%= locals.state %>">
        </div>
        <div class="form-group">
            <label for="zip">Zip Code</label>
            <input type="text" id="zip" name="zip" required value="<%= locals.zip %>">
        </div>

        <h3>Payment Information</h3>
        <div class="form-group">
            <label for="cardName">Name on Card</label>
            <input type="text" id="cardName" name="cardName" required value="<%= locals.cardName %>">
        </div>
        <div class="form-group">
            <label for="cardNumber">Credit Card Number</label>
            <input type="text" id="cardNumber" name="cardNumber" required value="<%= locals.cardNumber %>">
        </div>
        <div class="form-group">
            <label for="expMonth">Two Digit Exp Month</label>
            <input type="number" id="expMonth" name="expMonth" required value="<%= locals.expMonth %>">
        </div>
        <div class="form-group">
            <label for="expYear">Two Digit Exp Year</label>
            <input type="number" id="expYear" name="expYear" required value="<%= locals.expYear %>">
        </div>
        <div class="form-group">
            <label for="ccv">CCV</label>
            <input type="number" id="ccv" name="ccv" required value="<%= locals.ccv %>">
        </div>

        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>